*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
div{
    background-color: beige;
    color: black;
    border: 3px solid black;
    padding: 10px;
    width:  150px;
    height: 150px;
}

