*{
    padding: 0px;
    margin: 0px;
}
section:nth-child(odd){
    background-color: antiquewhite;
    color: black;
    padding: 20px;
}
section:nth-child(even){
    background-color: gray;
    color: bisque;
    padding: 20px;
}
hr{
    border-color: red;
    margin: 20px 0px;
    width: 33%;
    margin-left: 33%;
}