img{
    width: 300px;
}

ul{
    list-style-type: none;
}
li{
    width: 320px;
    border: 2px solid gray;
    float: left;
    text-align: center;
    margin-right: 20px;
    box-shadow: 2px 2px 20px 2px gray;
    margin-bottom: 20px;
    border-radius: 10px;
}
