
* {
    padding: 0;
    margin: 0;
}
body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}
.layout {
    background-color: rgb(241, 237, 237);
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 20px 40px;
}
main{
    display: grid;
}
.pointer:hover {
    cursor: pointer;
}
.cardStyle{
    padding: 15px;
    width: 45px;
    border-radius: 5px;
}
.backgroundRed {
    background-color: red;
}
aside {
    background-color: gray;
    padding: 30px;
    background-image: url(images/images-20240406T204644Z-001/images/sidebar-1.jpg);
    background-color: rgba(0, 0, 0, 0.815);
    background-blend-mode: color;
}
.title {
    display: flex;
    gap: 2rem;
    color: white;
    font-size: 1.5rem;
    margin-left: 10px;
}

.vija{
    margin: 10px 0px;
}
.specificOption {
    border-radius: 3px;
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    color: white;
}
.leftside {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.click:hover {
    background-color: rgba(128, 128, 128, 0.397);
}
/*Header CSS*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.dashboard {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.iconBackground {
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgb(216, 208, 208);
}
.moreOptions {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
input {
    background-color: transparent;
    border: none;
    outline: none;
}
input:focus{
    border-bottom: 2px solid purple;
}
.iconBackground:hover {
    transition: .5s ease;
    box-shadow: 5px 5px 10px rgb(136, 131, 131);
    box-shadow: 5px 5px 10px rgb(145, 139, 139);
}
.five {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    font-size: 10px;
    padding: 2px;
    position: absolute;
    top: -4px;
    right: -4px;
}
.notification {
    position: relative;
}
.popUp {
    display: none;
    background-color: white;
    border-radius: 3px;
    padding: 5px;
    position: absolute;
    top: 0px;
    left: -255px;
}
.message {
    padding: 5px 20px;
}
.message:hover {
    background-color: red;
    border-radius: 3px;
    color: white;
}
.notification:hover .popUp {
    display: block;
    cursor: pointer;
}
/*Main CSS*/
.section1{
   margin: 40px 0px;
}
.satelliteImage{
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 5px 5px 5px rgb(199, 194, 194);
    display: grid;;
    grid-template-rows: auto 1fr;
}
.divide{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    align-items: center;
}
.stateFlag{
    width: 1rem;
}
.state{
    display: flex;
    gap: 1rem;
}
.specificStates{
    display: flex;
    justify-content: space-between;
    margin: 16px 0px;
    gap: 4rem;
}
.numbers{
    display: flex;
    gap: 1rem;
}
iframe{
    width: 100%;
    height: 250px;
}
.titleIcon{
    background-color: green;
    transform: translateY(-50px);
}
.globalSalesTitle{
    font-size: 1.8rem;
    color: black;
    transform: translateY(-17px);
}
.section2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 20px;
}
.cart{
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 5px 5px 5px rgb(199, 194, 194);
    display: grid;
    grid-template-rows: 1fr auto;
}
.above{
    display: flex;
    justify-content: space-between;
}
.iconStyle1{
 background-color: orange;
 transform: translateY(-35px);
}
.iconStyle2{
    background-color: rgb(230, 88, 135);
    transform: translateY(-35px);
}
.iconStyle3{
    background-color: rgb(24, 165, 24);
    transform: translateY(-35px);
}
.iconStyle4{
    background-color: rgb(36, 36, 255);
    transform: translateY(-35px);
}
.cardText{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.thin{
    color: rgb(143, 141, 141);
}
.quantity{
    font-size: 2rem;
}
.warningIcon{
    width: 12px;
}
.tip{
    display: flex;
    align-items: center;
    gap: .5rem;
    color: rgb(179, 179, 179);
    margin-left: 10px;
}
.greyLine{
    color: rgb(179, 179, 179);
    margin: 10px;
}
.tipText{
    font-size: .8rem;
}
.section3{
    display: grid;
    grid-template-rows: auto 1fr;
}
.differentCards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.firstImage{
    width: 50px;
}
.section3{
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 3rem;
}
.cardTitle{
font-size: 2rem;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
.card{
    position: relative;
    padding: 10px;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(199, 194, 194) ;
    border-radius: 5px; 
}
.cardimg{
    width: 100%;
    transform: translateY(-30px);
}
.first{
    display: block;
    align-items: center;
}
.smallIcons{
    display: none;
    position: absolute;
    top: 140px;
    right: 95px;
}
.first:hover .cardimg{
  transform: translateY(-50px);
  transition: .1s ease;
    
}
.first:hover .smallIcons{
    display: block;
    transition: 1s ease;
}
.splittingLine{
    margin: 20px 0px;
}
.end2{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -47px;
}
.description{
    display: grid;
    text-align: center;
    gap: 1rem;
    height: 220px;
}
.descriptionTitle{
    font-size: 1.1rem;
}
.descriptionInfo{
    font-size: .8rem;
    columns: rgb(163, 163, 163);
    margin-bottom: 20px;
}
.end{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.leftText{
    font-size: 1rem;
    color: rgb(129, 128, 128) ;

}
.location{
    color: rgb(163, 163, 163);
    font-size: .8rem;
    display: flex;
    align-items: center;
}
.locationIcon{
    width: 15px;
}
/*Footer CSS*/
.footerLine{
    color: rgb(187, 187, 187);
}
.footer{
    display: flex;
    justify-content: space-between;
}
.left{
    font-weight: bold;
    display: flex;
    gap: 1rem;
}
.credits{
    color: rgb(182, 182, 182);
    font-size: .9rem;
}
