* {
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    grid-template-columns: auto 1fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}
.layout {
    background-color: rgb(241, 237, 237);
    grid-template-rows: auto 1fr auto;
    padding: 20px 40px;
    overflow-y: scroll;
}
main {
    gap: 3rem;
}
.pointer:hover {
    cursor: pointer;
}
.cardStyle {
    padding: 15px;
    width: 45px;
    border-radius: 5px;
}
.backgroundRed {
    background-color: red;
}
.d-flex{
    display: flex;
}
.d-grid{
    display: grid;
}
.color-white{
    color: white;
}
.bgColor-white{
    background-color: white;
}
aside {
    padding: 30px;
    background-image: url(images/images-20240406T204644Z-001/images/sidebar-1.jpg);
    background-color: rgba(0, 0, 0, 0.815);
    background-blend-mode: color;
    overflow-y: scroll;
}
.title {
    gap: 2rem;
    font-size: 1.5rem;
    margin-left: 10px;
}
.vija {
    margin: 10px 0px;
}
.specificOption {
    border-radius: 3px;
    padding: 8px 10px;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}
.leftside {
    justify-content: space-between;
    gap: 1rem;
}
.click:hover {
    background-color: rgba(128, 128, 128, 0.397);
}
/*Header CSS*/
.desktopHeader {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.dashboard {
    align-items: center;
    gap: 1rem;
}
.iconBackground {
    padding: 5px;
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgb(216, 208, 208);
}
.moreOptions {
    gap: 1.5rem;
    align-items: center;
}
input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(180, 180, 180);
    outline: none;
}
input:focus {
    border-bottom: 2px solid purple;
}
.iconBackground:hover {
    transition: .5s ease;
    box-shadow: 0px 0px 18px 0px rgb(136, 131, 131);
}
.five {
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    font-size: 10px;
    padding: 2px;
    position: absolute;
    top: -4px;
    right: -4px;
}
.notification {
    position: relative;
}
.popUp {
    display: none;
    border-radius: 3px;
    padding: 5px;
    position: absolute;
    top: 0px;
    left: -255px;
}
.message {
    padding: 5px 20px;
}
.message:hover {
    background-color: red;
    border-radius: 3px;
    color: white;
}
.notification:hover .popUp {
    display: block;
    cursor: pointer;
}
.tabletHeader {
    display: none;
}
/*Main CSS*/
.section1 {
    margin-top: 30px;
}
.satelliteImage {
    border-radius: 5px;
    padding: 30px;
    box-shadow: 5px 5px 5px rgb(199, 194, 194);
    grid-template-rows: auto 1fr;
}
.divide {
    grid-template-columns: auto 1fr;
    gap: 2rem;
    align-items: center;
}
.stateFlag {
    width: 1rem;
}
.state {
    gap: 1rem;
}
.specificStates {
    justify-content: space-between;
    margin: 16px 0px;
    gap: 4rem;
}
.numbers {
    gap: 1rem;
}
iframe {
    width: 100%;
    height: 250px;
}
.titleIcon {
    background-color: green;
    transform: translateY(-50px);
}
.globalSalesTitle {
    font-size: 1.8rem;
    color: black;
    transform: translateY(-17px);
}
.section2 {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.cart {
    border-radius: 5px;
    padding: 15px;
    box-shadow: 5px 5px 5px rgb(199, 194, 194);
    display: grid;
    grid-template-rows: 1fr auto;
}
.above {
    justify-content: space-between;
}
.iconStyle1 {
    background-color: orange;
    transform: translateY(-35px);
}
.iconStyle2 {
    background-color: rgb(230, 88, 135);
    transform: translateY(-35px);
}
.iconStyle3 {
    background-color: rgb(24, 165, 24);
    transform: translateY(-35px);
}
.iconStyle4 {
    background-color: rgb(36, 36, 255);
    transform: translateY(-35px);
}
.cardText {
    flex-direction: column;
    align-items: flex-end;
}
.thin {
    color: var(--greyColor);
}
.quantity {
    font-size: 2rem;
}
.warningIcon {
    width: 12px;
}
.tip {
    align-items: center;
    gap: .5rem;
    color: var(--greyColor);
    margin-left: 10px;
}
.greyLine {
    color: var(--greyColor);
    margin: 10px;
}
.tipText {
    font-size: .8rem;
}
.firstImage {
    width: 50px;
}
.section3 {
    grid-template-rows: auto 1fr;
    gap: 3rem;
}
.cardTitle {
    font-size: 2rem;
}
.cards {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
.card {
    position: relative;
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(199, 194, 194);
    border-radius: 5px;
}
.cardimg {
    width: 100%;
    transform: translateY(-30px);
}
.first {
    position: relative;
    align-items: center;
    justify-content: center;
}
.smallIcons {
    display: none;
    position: absolute;
    bottom: 20px;
}
.first:hover .cardimg {
    transform: translateY(-50px);
    transition: .1s ease;
}
.first:hover .smallIcons {
    display: block;
}
.splittingLine {
    margin: 20px 0px;
}
.description {
    text-align: center;
    gap: 1rem;
    height: 225px;
}
.descriptionTitle {
    font-size: 1.1rem;
}
.descriptionInfo {
    font-size: .8rem;
    margin-bottom: 20px;
}
.end {
    justify-content: space-between;
    margin-bottom: 5px;
}
.leftText {
    font-size: 1rem;
    color: var(--greyColor);
}
.location {
    color: var(--greyColor);
    font-size: .8rem;
    align-items: center;
}
.locationIcon {
    width: 15px;
}
/*Footer CSS*/
.footerLine {
    color: var(--greyColor);
    margin-top: 3rem;
}
.footerFlex {
    justify-content: space-between;
    margin: 2rem 0px;
}
.left {
    gap: 1rem;
}
.footerOptions {
    font-weight: bold;
}
.credits {
    color: var(--greyColor);
    font-size: 1rem;
}
/*Responsive CSS*/
@media (max-width: 1155px) {
    .cards {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
}
@media (max-width: 970px) {
    aside {
        display: none;
    }
    .divide {
        grid-template-columns: 1fr;
    }
    .desktopHeader {
        display: none;
    }
    .tabletHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
}
@media (max-width: 560px) {
    .left {
        gap: .5rem;
    }
    .section2 {
        grid-template-columns: 1fr;
    }
}
:root {
    --greyColor: rgb(170, 170, 170);
}